# Build and Release Folders
bin/
bin-debug/
bin-release/
html-template/
*.swf

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
.project
.actionScriptProperties
.flexProperties
.flexLibProperties

# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
